<div class="row">
    <div class="col-md-4">
        <h2>{{stationName}}</h2>
        <p class="lead">{{status}}</p>
    </div>
    <div class="col-md-4">
        <h2></h2>
        <p class="lead"></p>
    </div>
    <div class="col-md-4">
        <h2>Recent News</h2>
        <p class="lead">{{stationName}} Chronicles</p>
        <ul class="list-unstyled">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
</div>