
<!-- hack to get MochaCSS in this document, because handlebars was being stupid -->
<script type="text/javascript">
    var file = "vendor/mocha.css";

    var link = document.createElement( "link" );
    link.href = file.substr( 0, file.lastIndexOf( "." ) ) + ".css";
    link.type = "text/css";
    link.rel = "stylesheet";

    document.getElementsByTagName( "head" )[0].appendChild( link );
</script>
<h1>Space Station Control Tests</h1>
<small>If you've found this page, you're looking at tests to make sure that code written late at night
actually works like it should</small>
<div id="mocha"></div>
<script src="vendor/mocha.js"></script>
<script src="/js/utility.js"></script>
<script src="/js/events.js"></script>
<script src="/js/clickEvents.js"></script>
<script>mocha.setup('qunit')</script>
<script src="js/tests.js"></script>
<script>mocha.run();</script>

<div id="messages"></div>
<div id="fixtures"></div>
<!-- another hack - some of the methods update text, and will fail if there is nowhere to update
    said text. Solution, add a bunch of empty divs-->
<div id="html-elements" style="display: none;">
    <div id="hydrogen-storage-cost"></div>
    <div id="metal-storage-cost"></div>
    <div id="food-storage-cost"></div>
    <div id="hydrogen-storage-total"></div>
    <div id="food-storage-total"></div>
    <div id="metal-storage-total"></div>
    <div id="apartment-cost"></div>
    <div class="worker-count"></div>
    <div class="worker-count"></div>
    <div class="worker-count"></div>
    <div class="resource-output"></div>
    <div class="resource-output"></div>
    <div class="resource-output"></div>
    <div class="resource-gather-rate"></div>
    <div class="resource-gather-rate"></div>
    <div class="resource-gather-rate"></div>
    <div id="worker-count"></div>
    <div id="unemployed-count"></div>
    <div id="food-cost"></div>
    <div id="max-population"></div>
    <div id="ship-trading-small"></div>
    <div id="ship-trading-medium"></div>
    <div id="ship-trading-large"></div>
    <div class="ship-mining"></div>
    <div class="ship-mining"></div>
    <div class="ship-mining"></div>
    <div class="ship-exploring"></div>
    <div class="ship-exploring"></div>
    <div class="ship-exploring"></div>
    <div class="ship-trading"></div>
    <div class="ship-trading"></div>
    <div class="ship-trading"></div>
    <div class="ship-unallocated"></div>
    <div class="ship-unallocated"></div>
    <div class="ship-unallocated"></div>
    <div id="ship-mining-small"></div>
    <div id="ship-mining-medium"></div>
    <div id="ship-mining-large"></div>
    <div id="ship-exploring-small"></div>
    <div id="ship-exploring-medium"></div>
    <div id="ship-exploring-large"></div>
</div>